*{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color:initial;
}
header{
    width: 100%;
    height: 15vh;
    background-color: rgb(131, 118, 118);
    color:white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.logo{
    text-align: center;
}

.imagen{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("https://images.daznservices.com/di/library/GOAL/84/ec/lionel-messi-barcelona-2019-20_1g3u4azfqpczl1d1xedxtacuby.jpg") ;
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: center;
}
.dropdown{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.usuario{
    font-size: x-large;
}

.container__chat{
    width: 20%;
    height: 85vh;
    background-color: rgb(199, 194, 194);
    overflow-y: scroll;
    float: left;
}
.select__chat{
    width: 100%;
    height: 15vh;
    background-color: rgb(128, 104, 104);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.select__chat:hover{
    background-color: aqua;
}
.mensajes{
    width: 80%;
    height: 78vh;
    background-color: aqua;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
   
}
.escribir{
    width: 100%;

}
.escribir input[type="text"]{
    width: 73%;
    padding: 10px;
    font-size: large;
}
.escribir input[type="button"]{
    padding: 10px;
}
.emisor,.receptor{
    width: 100px;
    height: auto;
    padding: 20px;
    text-align: center;
    font-size: large;
    margin: 10px;
    color:white;
    
}

.emisor{
    
    align-self: flex-end;
    background-color: rgb(75, 59, 59);
    
}
.receptor{
    background-color: black;
 
 
}

@media only screen and (max-width: 600px) {
    .container__chat{
        width: 35%;
        height: 85vh;
        background-color: rgb(199, 194, 194);
    }
    .usuario{
        font-size: 20px;
    }
    .imagen{
        width: 40px;
        height: 40px;
        background-size: 80px;
    }
    .chat{
        width:65%;
    }
  }